.divLogIn {
  width: 300px;
  height: 500px;
  place-content: center;
  place-self: center;
}

.divLogIn h2 {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divLogIn button {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.fullDivLogin {
  display: flex;
  justify-content: space-around;
}

.divImageLogo {
  width: 50%;
  background: linear-gradient(135deg, #1B3B46 0%, #1C2536 100%);
  height: 100vh;
}

.widthlogin {
  width: 50%;
}

.divImageLogo {
  place-content: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divImageLogo img {
  width: 250px;
  height: 100px;
  margin-left: 30px;
}

.divImageLogo h2 {
  margin-left: 30px;
  position: relative;
  top: 20px;
}

.navbar {
  background-color: #1C2536;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 600px;
}

.navbarLogo img {
  width: 120px;
  height: 45px;
}

.navbarLogo {
  display: flex;
  place-items: center;
  gap: 130px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchInputAntd .ant-input {
  background-color: transparent !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.navbarNotification {
  display: flex;
  gap: 20px;
  color: white;
  place-items: center;
}

.saidbar {
  background-color: #1C2536;
  width: 23%;
  height: 100vh;
  margin-top: 8vh;

}

.saidbarOther h2 {
  position: relative;
  right: 50px;
}

.saidbarOther {
  display: flex;
  gap: 70px;
  place-content: center;
  position: relative;
  top: 30px;
  width: 200px;
  height: 40px;
  color: white;
  padding: 8px 0px 0px 0px;
  margin-left: 20px;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.saidbarHome {
  display: flex;
  gap: 20px;
  place-content: center;
  position: relative;
  top: 30px;
  width: 200px;
  height: 40px;
  color: white;
  padding: 8px 0px 0px 0px;
  margin-left: 20px;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.saidbarOther:hover {
  background-color: white;
  cursor: pointer;
  transition: 1000ms;
  width: 200px;
  place-content: center;
  border-radius: 4px;
  height: 40px;
  color: rgb(62, 62, 99);
  margin-left: 20px;
  padding: 8px 0px 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SaidbarDashboard {
  background-color: white;
  cursor: pointer;
  transition: 1000ms;
  width: 200px;
  place-content: center;
  border-radius: 4px;
  height: 40px;
  color: rgb(62, 62, 99);
  margin-left: 20px;
  padding: 8px 0px 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.activeLink {
  background-color: white;
  color: rgb(62, 62, 99);
  cursor: pointer;
  /* transition: 1000ms; */
  width: 200px;
  height: 40px;
  text-decoration: none;
  place-content: center;
  border-radius: 4px;
  /* margin-left: 20px; */
  padding: 8px 0 0 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.saidbarHome:hover {
  background-color: white;
  transition: 1000ms;
  cursor: pointer;
  width: 200px;
  place-content: center;
  border-radius: 4px;
  height: 40px;
  color: rgb(62, 62, 99);
  margin-left: 20px;
  padding: 8px 0px 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barsOutlined {
  position: relative;
  top: -5px;
  font-size: 20px;
}

.saidbarfixed {
  position: fixed;
  width: 100%;
}



.divBrands {
  width: 77%;
  position: absolute;
  left: 23%;
  top: 8vh;
}

.saidbarOther link {
  text-decoration: none;
  color: white;
}

.otherLink {
  color: white;
  text-decoration: none;

}

.otherLink:hover {
  color: rgb(62, 62, 99);
  text-decoration: none;
}

.BrandsDivActions {
  display: flex;
  color: gray;
  font-weight: 700;
  width: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;
}

.divCeteBraBann {
  display: flex;
  gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 30px;
}

.getProducts {
  width: 33%;
  /* top: 15vh; */
  margin-left: 61%;
  box-shadow: 1px 3px 3px 3px rgba(128, 128, 128, 0.196);
  padding: 20px;
}

.getProductsDiv {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.262);
  margin-bottom: 20px;
}

.inaccessories {
  place-content: center;
}

.seeAllProduct {
  display: flex;
  gap: 120px;
  margin-bottom: 20px;
  font-size: 17px;
}

.divBrandBrand {
  width: 350px;
  text-align: start;
  gap: 300px;
  margin-left: 40px;
}

.divDataBrands {
  display: flex;
  justify-content: space-between;
}

.divAddBrands {
  width: 430px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  position: fixed;
  top: 27%;
  left: 63%;
}

.divAddBrands p {
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divAddBrands input {
  width: 90%;
  margin-left: 5%;
}

.divAddBrands button {
  margin-top: 50px;
  margin-left: 70%;
}

.BrandsToBrands {
  width: 70px;
  height: 25px;
  background-color: rgba(135, 207, 235, 0.578);
  border-radius: 5px;
  text-align: center;
  place-content: center;
  cursor: pointer;
}

.categoryDiv {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 10vh;
}

.tableUsers {
  position: absolute;
  top: 13vh;
  width: 65%;
  left: 24%
}

.lineCharts {
  width: 45%;
  height: 70vh;
  position: absolute;
  top: 23vh;
  left: 23%;
}

.SalesMuiBox {
  width: 150px;
  height: 10vh;
  border-radius: 4px;
  display: flex;
  place-items: center;
  gap: 15px;
}

.SalesMuiBox span {
  font-size: 30px;
  font-weight: 700;
}

.textDashboard {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

widthlogin .categoriyesLink {
  padding: 3px;
  background-color: rgba(135, 207, 235, 0.578);
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

.forColorBlack {
  color: black;
  text-decoration: none;
}

.divEditModalBrands {
  width: 300px;
  height: 170px;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 1px 3px 3px 3px rgba(128, 128, 128, 0.37);
  position: fixed;
  top: 25%;
  left: 40%;
  z-index: 10;
  color: black;
}

.divBrandBrand button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 5px;
}

.btnEditSaveBrand {
  position: relative;
  left: 70%;
  top: 70px;
}

.inputEditBrand {
  position: relative;
  top: 40px;
}

.divEditModalBrands p {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categoriyesLinkBrands {
  background-color: rgba(0, 139, 139, 0.268);
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
}

.getBrandName {
  font-family: Arial, Helvetica, sans-serif;
}

.categoryDivForUi {
  width: 100px;
  height: 90px;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.471);
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 12px;
}

.CategoryDivForUiFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  width: 145%;
  gap: 20px;
}

.btnEditSaveCategory {
  background-color: transparent;
  border: none;
  font-size: 15px;
  position: relative;
  z-index: 10;
  top: -80px;
  left: 40px;
}

.btnEditCategorys {
  width: 75px;
  height: 35px;
  background-color: rgba(3, 21, 21, 0.163);
  border-radius: 4px;
  color: black;
  border: none;
}

.TableProducts {
  width: 70%;
  position: absolute;
  left: 24%;
  top: 25vh;
}

.textProducts {
  width: 65%;
  display: flex;
  justify-content: space-around;
  gap: 500px;
  position: relative;
  left: 25%;
  top: 11vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textProducts button {
  width: 100px;
  cursor: pointer;
}

.btnDeleteProduct {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.divSubForFlex {
  width: 70%;
  display: flex;
}

.divSubCategory {
  width: 50%;
  position: absolute;
  left: 5%;
}

.btndeletesubcategory {
  position: absolute;
  top: 73%;
  left: 50%;
}

.btndeletesubcategorySave {
  position: absolute;
  top: 73%;
  left: 77%;
}

.btnCancelBrand {
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: transparent;
  padding: 5px;
  border: 1px solid blueviolet;
  width: 80px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btnCancelBrandSave {
  position: absolute;
  top: 70%;
  left: 72%;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  border: 1px solid blueviolet;
  width: 80px;
  font-size: 16px;
  border-radius: 4px;
}

.h2TextProductsAddNew {
  display: flex;
  place-self: center;
  width: 500px;
}

.InputNameProducts {
  width: 70%;
  position: absolute;
  left: 25%;
  top: 20vh;
}

.sumInputnameProduct {
  width: 50%;
}

.inputDescription {
  padding: 5px 0px 20vh 5px;
}

.selectforCategory {
  width: 100px;
  height: 35px;
  padding: 4px;
  font-size: 20px;
}

.heigthPrice {
  height: 25px;
  padding: 4px;
  font-size: 17px;
  width: 80px;
}

.colorProductSky {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #A0BCE0;
}

.colorProductRed {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E07575;
}

.colorProductBlue {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6366F1;
}

.colorProductYellow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFB71A;
}

.colorProductGreen {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #06A561;
}

.colorProductBlck {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #41434D;
}

.divColorsForAddProducts {
  width: 35%;
  position: absolute;
  left: 65%;
  top: 20vh;
}

.divColorForProdcuts {
  width: 250px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 3px rgba(128, 128, 128, 0.307);
  padding: 10px;
}

.addImageToProduct {
  width: 270px;
  border: dotted black 2px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 2px 3px 3px 3px rgba(128, 128, 128, 0.307);
  text-align: center;
  height: 20vh;
}

.inputChoosFile {
  width: 86px;
  margin-top: 10px;
  cursor: pointer;
  height: 30px;
}

.textDecarotion {
  position: relative;
  color: white;
  position: relative;
  right: 55px;
}

.textDecorationProduct {
  position: relative;
  right: 18px;
}

.InputSearchProduct {
  width: 250px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  left: 25%;
  top: 20vh;
}

.inputSearchCategory {
  width: 250px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  left: 95%;
  top: 5vh;
}

.InputSearchBrands {
  width: 250px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  left: 75%;
  top: 13vh;
}

.InputSearchSubCategory {
  width: 250px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  left: 93%;
  top: 5vh;
}

.categoryForImageAndName {
  display: flex;
  place-items: center;

}

.TableCategory {
  width: 135%;
  z-index: 1002;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.195);
}

/* .Table {
  position: relative;
  overflow: visible !important;
  z-index: 1;
}

.Table {
  overflow: visible !important;
} */

.IconDelete {
  background-color: transparent;
  border: none;
}

.divSubCategory {
  border: 1px solid rgba(128, 128, 128, 0.377);
  margin-top: 30px;
  width: 300px;
}

.tableOthers{
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.437);
  margin-left: 20px;
  margin-top: 20px;
}

.TableProducts{
  border: 1px solid rgba(128, 128, 128, 0.421);
  margin-top: 20px;
}

.TableCategoryTable{
  width: 135%;
  border: 1px solid rgba(128, 128, 128, 0.31);
}

.LinkCategory{
  text-decoration: none;
  color: #0f2f6a;
}

.TableOtherTable{
  width: 78%;
  margin-left: 2%;
  border:1px solid rgba(128, 128, 128, 0.353);
  margin-top: 10px;
}
.TableSubCategoryTable{
  width: 135%;
  margin-left: 2%;
  border:1px solid rgba(128, 128, 128, 0.353);
  margin-top: 1px;
}

.byIdModal{
  width: 350px;
  height: 300px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 2px 3px 3px 3px gray;
  padding: 10px;
  position: fixed;
  top: 20vh;
  left: 35%;
  z-index: 100;
}